body {
    background: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
}

#data-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#data-table th, 
#data-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#data-table tr:nth-child(even) {
    background-color: #e8eaf6; /* Aesthetic light blue */
}

#data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4a148c;   /* Aesthetic dark purple */
    color: white;
}

#add-user {
    margin-bottom: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4a148c; /* Aesthetic dark purple */
    color: white;
}
